extends dshboard

block content
    .container-fluid
        
        .row 
            .col-md-10
                h3 
                    |Tickets,
        .row.bg-blue
            p 
            |      
            .col-md-9
                p
                input(type='text' placeholder='' name='email' required='')
        
            .col-md-3
                p 
                    |
                p 
                 a.btn.btn-outline-success(href='/overview') Crear Ticket
                
        .row 
            .col-md-10
                h3 
                    |Tickets
        .row    
            .col-md-2
                h4 
                    |Date
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Date
            .col-md-2
                h4 
                    | Name
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Name
            .col-md-1
                h4 
                    |Topic
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Topic   
            .col-md-3
                h4 
                    |Descripcion
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Descripcion
            .col-md-2
                h4 
                    |Responsable
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Responsable
            .col-md-2
                h4 
                    |Status
                each ticket in ticketWin
                    .card   
                        .card-block 
                            p= ticket.Status
        

