extends dshboard

block content
    .c-subheader.px-3
        ol.breadcrumb.border-0.m-0
            li.breadcrumb-item.active
                .btn-group(role='group' aria-label='Basic example')
                    button#cphBodyHeader_btnNuevo.btn.btn-outline-primary
                        i.cil-file
                        | Nuevo
                    button#cphBodyHeader_btnGuardar.btn.btn-outline-dark(onclick="__doPostBack('ctl00$cphBodyHeader$btnAbrir','')" type='button')
                        i.cil-save
                        | Guardar
                    button#cphBodyHeader_btnCancelar.btn.btn-outline-secondary.disabled(type='button')
                        i.cil-grid-slash
                        | Cancelar
                    button#cphBodyHeader_btnEliminar.btn.btn-outline-secondary.disabled(type='button')
                        i.cil-trash
                        | Eliminar
                span#cphBodyHeader_lblExito(align='right' style='color:Green;')
                span#cphBodyHeader_lblError(align='right' style='color:Maroon;')

    .container-fluid
        .fade-in
            .card
                .card-header
                    i.c-icon.cil-justify-center
                    b Ticket
                .card-body
                    #cphBody
                        .table.table-responsive(style='overflow-x: auto;')
                            .thead-dark
                                div
                                    table#cphBody.table.table-bordered.table-active.table-active.table-hover.table-striped(cellspacing='0' rules='all' border='1' style='border-collapse:collapse;')
                                        thead
                                            tr(style='color:White;font-weight:bold;')
                                                th(scope='col') &nbsp;
                                                th(scope='col') N&deg;
                                                th(scope='col') Asunto &uarr;&darr;
                                                th(scope='col') Status
                                                th(scope='col') Usuario
                                                th(scope='col') Fecha   
                                                th(scope='col') Operaciones        
                                                th(scope='col')   
                                        tbody
                                            - var pos=1
                                                each ticket in objetoTicket
                                                    tr
                                                        td
                                                            input(type='image' src='Icon/Menu125/Select-Hand.png' alt='Select' style='width:30px;')
                                                        td.numTicket= pos++
                                                        td.asunto= ticket.asunto
                                                        td.status= ticket.status
                                                        td.usuario= ticket.persona.map(result => result.nombre)
                                                        td.fecha= ticket.fecha
                                                        td
                                                            input#cphBodyimgbtnDelete_0(type='image' name='' src='Icon/Menu125/delete-icon.png' style='width:30px; height:30px;')
                                                            td
                                                                input#cphBodyimgbtnDelete_0(type='image' name='' src='Icon/Menu125/edit.png' style='width:30px; height:30px;')
                                                            
                                                        